server:
  port: 8888
spring:
  cloud:
    config:
      server:
        encrypt.enabled: false
        git:
          uri: https://github.com/xApiDev/config-repo
          searchPaths: ibanservice
          username: xApiDev
          password: sergiovass1t